# requirements.txt records the full set of dependencies for development
accelerate
codetiming
datasets
dill
hydra-core
numpy
pandas
peft
pyarrow>=15.0.0
pybind11
pylatexenc
ray
tensordict<=0.6.2
transformers>=4.52.0
wandb
mathruler
torchdata
einops
qwen_vl_utils
