repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.4'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
        exclude: ^docs/cookbooks/  # Ignore files under docs/cookbooks
      - id: ruff-format
        exclude: ^docs/cookbooks/  # Ignore files under docs/cookbooks

  - repo: local
    hooks:
      - id: mypy
        name: Check mypy
        entry: mypy --namespace-packages -p camel -p test -p apps
        language: python
        types: [python]
        pass_filenames: false
        require_serial: true
        exclude: ^docs/cookbooks/  # Ignore files under docs/cookbooks

  - repo: local
    hooks:
    - id: check-license
      name: Check License
      entry: python licenses/update_license.py . licenses/license_template.txt 
      language: system
      types: [python]
      exclude: ^docs/cookbooks/  # Ignore files under docs/cookbooks
