repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.7.4'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
        exclude: ^(docs/cookbooks/|examples/usecases/|examples/custom_client_usage\.py)  # Ignore files under docs/cookbooks and examples/usecases
      - id: ruff-format
        exclude: ^(docs/cookbooks/|examples/usecases/)  # Ignore files under docs/cookbooks and examples/usecases

  - repo: local
    hooks:
      - id: mypy
        name: Check mypy
        entry: uv run mypy --namespace-packages -p camel -p test -p apps
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
        exclude: ^(docs/cookbooks/|examples/usecases/)  # Ignore files under docs/cookbooks and examples/usecases

  - repo: local
    hooks:
    - id: check-license
      name: Check License
      entry: python licenses/update_license.py . licenses/license_template.txt 
      language: system
      types: [python]
      exclude: ^(docs/cookbooks/|examples/usecases/)  # Ignore files under docs/cookbooks and examples/usecases

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.4.1
    hooks:
    - id: codespell
      exclude: ^(docs/reference/|docs/.*\.rst$)  # Ignore auto-generated content only
      additional_dependencies:
      - tomli  # for python_version < '3.11'