[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "camel-ai"
version = "0.1.6.0"
authors = ["CAMEL-AI.org"]
description = "Communicative Agents for AI Society Study"
readme = "README.md"
keywords = [
    "communicative-ai",
    "ai-societies",
    "artificial-intelligence",
    "deep-learning",
    "multi-agent-systems",
    "cooperative-ai",
    "natural-language-processing",
    "large-language-models",
]
packages = [
    { include = "camel" },
]
license = "Apache License 2.0"
homepage = "https://www.camel-ai.org/"
repository = "https://github.com/camel-ai/camel"
documentation = "https://docs.camel-ai.org"

[tool.poetry.dependencies]
python = ">=3.9.0,<3.12"
numpy = "^1"
openai = "^1.2.3"
groq = "^0.5.0"
anthropic = "^0.29.0"
tiktoken = "^0.7.0"
colorama = "^0"
jsonschema = "^4"
protobuf = "^4"
pathlib = "^1.0.1"
docstring-parser = "^0.15"
pydantic = ">=1.9,<3"
curl_cffi = "0.6.2"
jupyter_client = "^8.6.2"
ipykernel = "^6.0.0"

pillow ="^10.2.0"

# model-platforms
litellm = { version = "^1.38.1", optional = true }
google-generativeai = { version = "^0.6.0", optional = true }
mistralai = { version = "^0.4.2", optional = true }
mistral-common = { version = "^1.3.3", optional = true }

# huggingface-agent
transformers = { version = "^4", optional = true }
diffusers = { version = "^0", optional = true }
accelerate = { version = "^0", optional = true }
datasets = { version = "^2", optional = true }
torch = { version = "^2", optional = true }
soundfile = { version = "^0", optional = true }
sentencepiece = { version = "^0", optional = true }
opencv-python = { version = "^4", optional = true }

# tools
beautifulsoup4 = { version = "^4", optional = true }
docx2txt = { version = "^0.8", optional = true }
PyMuPDF = { version = "^1.22.5", optional = true }
wikipedia = { version = "^1", optional = true }
duckduckgo-search = { version = "^6.1.0", optional = true }
newspaper3k = {version = "^0.2.8", optional = true}
wolframalpha = { version = "^5.0.0", optional = true }
pyowm = { version = "^3.3.0", optional = true }
googlemaps = { version = "^4.10.0", optional = true }
requests_oauthlib = { version = "^1.3.1", optional = true }
prance = { version = "^23.6.21.0", optional = true }
openapi-spec-validator = { version = "^0.7.1", optional = true }
unstructured = { extras = ["all-docs"], version = "^0.10.30", optional = true }
slack-sdk = { version = "^3.27.2", optional = true }
pydub = { version = "^0.25.1", optional = true }
pygithub = { version = "^2.3.0", optional = true }
imageio = {extras = ["pyav"], version = "^2.34.2"}
pyTelegramBotAPI = { version = "^4.18.0", optional = true }
"discord.py" = { version = "^2.3.2", optional = true }
docker = { version="^7.1.0", optional = true }

# encoders
sentence-transformers = { version = "^3.0.1", optional = true }

# vector-databases
qdrant-client = { version = "^1.9.0", optional = true }
pymilvus = { version = "^2.4.0", optional = true }

# graph-storages
neo4j = { version = "^5.18.0", optional = true }

# key-value-storages
redis = { version = "^5.0.6", optional = true }

# retrievers
rank-bm25 = { version = "^0.2.2", optional = true }
cohere = { version = "^4.56", optional = true }

# test
pytest = { version = "^7", optional = true}
pytest-asyncio = { version = "^0.23.0", optional = true }
mock = { version = "^5", optional = true}

[tool.poetry.extras]
test = ["pytest", "mock", "pytest-asyncio"]

model-platforms = [
    "litellm",
    "google-generativeai",
    "mistralai",
    "mistral-common",
]

huggingface-agent = [
    "transformers",
    "diffusers",
    "accelerate",
    "datasets",
    "torch",
    "soundfile",
    "sentencepiece",
    "opencv-python",
]

encoders = [
    "sentence-transformers",
]

tools = [
    "beautifulsoup4",
    "docx2txt",
    "PyMuPDF",
    "wikipedia",
    "duckduckgo-search",
    "newspaper3k",
    "wolframalpha",
    "pyowm",
    "googlemaps",
    "requests_oauthlib",
    "prance",
    "openapi-spec-validator",
    "unstructured",
    "imageio",
    "pillow",
    "slack-sdk",
    "pydub",
    "pygithub",
    "pyTelegramBotAPI",
    "discord.py",
    "docker",
    "jupyter_client",
]

vector-databases = [
    "qdrant-client",
    "pymilvus",
]

graph-storages = [
    "neo4j",
]

kv-stroages = [
    "redis",
]

retrievers = [
    "rank-bm25",
    "cohere",
]

all = [
    # huggingface-agent
    "transformers",
    "diffusers",
    "accelerate",
    "datasets",
    "torch",
    "soundfile",
    "sentencepiece",
    "opencv-python",
    # tools
    "beautifulsoup4",
    "docx2txt",
    "pygithub",
    "pyTelegramBotAPI",
    "discord.py",
    "PyMuPDF",
    "wikipedia",
    "duckduckgo-search",
    "newspaper3k",
    "wolframalpha",
    "pyowm",
    "googlemaps",
    "requests_oauthlib",
    "prance",
    "openapi-spec-validator",
    "unstructured",
    "imageio",
    "slack-sdk",
    "pydub",
    "pillow",
    "docker",
    "jupyter_client",
    # vector-database
    "qdrant-client",
    "pymilvus",
    # retrievers
    "cohere",
    # encoders
    "sentence-transformers",
    # graph-storages
    "neo4j",
    # retrievers
    "rank-bm25",
    # model platforms
    "litellm",
    "mistralai",
    "mistral-common",
    "google-generativeai",
    # kv-storages
    "redis",
]

[tool.poetry.group.dev]
optional = true
[tool.poetry.group.dev.dependencies]
ruff = "^0.4.1"
mypy = "^1.5.1"
toml = ">=0.10.2"
pre-commit = "^3"
pytest = "^7"
pytest-cov = "^4"
pytest-asyncio = "^0.23.0"
gradio = "^3"
mock = "^5"

# types
types-Pillow = "*"
types-Pygments = "*"
types-mock = "*"
types-regex = "*"
types-setuptools = "*"
types-tqdm = "*"
types-colorama = "^0"
types-requests = "^2"

[tool.poetry.group.docs]
optional = true
[tool.poetry.group.docs.dependencies]
sphinx = "^6"
sphinx_book_theme = "*"
recommonmark = "*"
docutils = "<0.20.0"

[tool.ruff]
line-length = 79
fix = true
target-version = "py39"

[tool.ruff.format]
quote-style = "preserve"

[tool.ruff.lint]
extend-select = [
    "I",    # isort
    "B",    # flake8-bugbear
    "C4",   # flake8-comprehensions
    "PGH",  # pygrep-hooks
    "RUF",  # ruff
    "E",
]

ignore = [
    "B028", # Warning without stacklevel
    "B904", # use 'raise ... from err'
    "B905", # use explicit 'strict=' parameter with 'zip()'
    "N818", #  Exception name should be named with an Error suffix
    "C416", # I think comprehension is more clear https://docs.astral.sh/ruff/rules/unnecessary-comprehension/
    "C408", # we have used lots of dict(...) instead of literal
]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.isort]
known-first-party = ["camel"]

[tool.pytest.ini_options]
pythonpath = ["."]
addopts = ["--strict-markers"]
markers = [
    "asyncio: mark a test as asyncio-based.",
    "very_slow: mark a very slow test to run only in full test mode",
    "model_backend: for tests that require OpenAI API key or a local LLM",
]

[tool.coverage.report]
include_namespace_packages = true

[[tool.mypy.overrides]]
module = [
    "transformers.*",
    "packaging.*",
    "tiktoken",
    "openai",
    "openai.error",
    "groq",
    "anthropic",
    "pytest",
    "_pytest.config",
    "_pytest.nodes",
    "numpy",
    "torch",
    "sqlalchemy",
    "google.cloud.sql.connector",
    "gradio",
    "database_connection",
    "huggingface_hub",
    "huggingface_hub.utils._errors",
    "wikipedia",
    "duckduckgo_search",
    "newspaper",
    "wolframalpha",
    "pyowm",
    "googlemaps",
    "requests_oauthlib",
    "prance",
    "openapi-spec-validator",
    "jsonschema.*",
    "bs4.*",
    "docx2txt",
    "PyMuPDF",
    "fitz",
    "qdrant_client.*",
    "unstructured.*",
    "imageio",
    "rank_bm25",
    "cohere",
    "sentence_transformers.*",
    "pymilvus",
    "pillow",
    "slack-sdk",
    "pydub",
    "pygithub",
    "litellm",
    "pyTelegramBotAPI",
    "discord.py",
    "docker.*",
    "google.*",
    "google-generativeai",
    "mistralai",
    "mistral_common",
]
ignore_missing_imports = true
