anthropic==0.2.9
dm-control==1.0.8
matplotlib==3.5.1
mujoco==2.3.0
natsort==8.0.2
numpy==1.22.0
openai==0.27.2
opencv-python==4.5.5.64
pyquaternion==0.9.9
transforms3d==0.4.1
scipy==1.8.0
seaborn==0.11.2
wandb==0.15.2
pydantic==1.10.4