{
  "openapi": "3.1.0",
  "info": {
    "title": "Discord HTTP API (Preview)",
    "description": "Preview of the Discord v10 HTTP API specification. See https://discord.com/developers/docs for more details.",
    "termsOfService": "https://discord.com/developers/docs/policies-and-agreements/developer-terms-of-service",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "version": "10"
  },
  "externalDocs": {
    "url": "https://discord.com/developers/docs",
    "description": "Discord Developer Documentation"
  },
  "servers": [
    {
      "url": "https://discord.com/api/v10"
    }
  ],
  "paths": {
    "/oauth2/applications/@me": {
      "get": {
        "operationId": "get_my_oauth2_application",
        "responses": {
          "200": {
            "description": "200 response for get_my_oauth2_application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateApplicationResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/users/@me/connections": {
      "get": {
        "operationId": "list_my_connections",
        "responses": {
          "200": {
            "description": "200 response for list_my_connections",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/ConnectedAccountResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "connections"
            ]
          }
        ]
      }
    },
    "/users/@me/channels": {
      "post": {
        "operationId": "create_dm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrivateChannelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for create_dm",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PrivateChannelResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PrivateGroupChannelResponse"
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/users/@me/guilds": {
      "get": {
        "operationId": "list_my_guilds",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_my_guilds",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/MyGuildResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "guilds"
            ]
          }
        ]
      }
    },
    "/applications/@me": {
      "get": {
        "operationId": "get_my_application",
        "responses": {
          "200": {
            "description": "200 response for get_my_application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateApplicationResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "patch": {
        "operationId": "update_my_application",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationFormPartial"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_my_application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateApplicationResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/gateway/bot": {
      "get": {
        "operationId": "get_bot_gateway",
        "responses": {
          "200": {
            "description": "200 response for get_bot_gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayBotResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/oauth2/keys": {
      "get": {
        "operationId": "get_public_keys",
        "responses": {
          "200": {
            "description": "200 response for get_public_keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2GetKeys"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {},
          {
            "BotToken": []
          }
        ]
      }
    },
    "/oauth2/@me": {
      "get": {
        "operationId": "get_my_oauth2_authorization",
        "responses": {
          "200": {
            "description": "200 response for get_my_oauth2_authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2GetAuthorizationResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "activities.read",
              "activities.write",
              "applications.builds.read",
              "applications.builds.upload",
              "applications.commands",
              "applications.commands.permissions.update",
              "applications.commands.update",
              "applications.entitlements",
              "applications.store.update",
              "bot",
              "connections",
              "dm_channels.read",
              "email",
              "gdm.join",
              "guilds",
              "guilds.join",
              "guilds.members.read",
              "identify",
              "messages.read",
              "openid",
              "relationships.read",
              "role_connections.write",
              "rpc",
              "rpc.activities.write",
              "rpc.notifications.read",
              "rpc.screenshare.read",
              "rpc.screenshare.write",
              "rpc.video.read",
              "rpc.video.write",
              "rpc.voice.read",
              "rpc.voice.write",
              "voice",
              "webhook.incoming"
            ]
          }
        ]
      }
    },
    "/voice/regions": {
      "get": {
        "operationId": "list_voice_regions",
        "responses": {
          "200": {
            "description": "200 response for list_voice_regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/VoiceRegionResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/users/@me": {
      "get": {
        "operationId": "get_my_user",
        "responses": {
          "200": {
            "description": "200 response for get_my_user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPIIResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "identify"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "update_my_user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotAccountPatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_my_user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPIIResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/stage-instances": {
      "post": {
        "operationId": "create_stage_instance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "topic": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "channel_id": {
                    "$ref": "#/components/schemas/SnowflakeType"
                  },
                  "privacy_level": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "$ref": "#/components/schemas/StageInstancesPrivacyLevels"
                      }
                    ]
                  },
                  "guild_scheduled_event_id": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "$ref": "#/components/schemas/SnowflakeType"
                      }
                    ]
                  },
                  "send_start_notification": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  }
                },
                "required": [
                  "topic",
                  "channel_id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for create_stage_instance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageInstanceResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/sticker-packs": {
      "get": {
        "operationId": "list_sticker_packs",
        "responses": {
          "200": {
            "description": "200 response for list_sticker_packs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StickerPackCollectionResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {},
          {
            "BotToken": []
          }
        ]
      }
    },
    "/gateway": {
      "get": {
        "operationId": "get_gateway",
        "responses": {
          "200": {
            "description": "200 response for get_gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {},
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds": {
      "post": {
        "operationId": "create_guild",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuildCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "201 response for create_guild",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuildResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/users/@me/threads/archived/private": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_my_private_archived_threads",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 2,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_my_private_archived_threads",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadsResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/applications/{application_id}/guilds/{guild_id}/commands/permissions": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_guild_application_command_permissions",
        "responses": {
          "200": {
            "description": "200 response for list_guild_application_command_permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommandPermissionsResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.permissions.update"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/guilds/{guild_id}/commands/{command_id}/permissions": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "command_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_guild_application_command_permissions",
        "responses": {
          "200": {
            "description": "200 response for get_guild_application_command_permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandPermissionsResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.permissions.update"
            ]
          }
        ]
      },
      "put": {
        "operationId": "set_guild_application_command_permissions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permissions": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/ApplicationCommandPermission"
                    },
                    "maxItems": 100
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for set_guild_application_command_permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandPermissionsResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.permissions.update"
            ]
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}/reactions/{emoji_name}/@me": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "message_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "emoji_name",
          "in": "path",
          "schema": {
            "type": "string",
            "maxLength": 152133
          },
          "required": true
        }
      ],
      "put": {
        "operationId": "add_my_message_reaction",
        "responses": {
          "204": {
            "description": "204 response for add_my_message_reaction"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_my_message_reaction",
        "responses": {
          "204": {
            "description": "204 response for delete_my_message_reaction"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/threads/archived/private": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_private_archived_threads",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 2,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_private_archived_threads",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadsResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/threads/archived/public": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_public_archived_threads",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 2,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_public_archived_threads",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadsResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/users/@me/applications/{application_id}/role-connection": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_application_user_role_connection",
        "responses": {
          "200": {
            "description": "200 response for get_application_user_role_connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUserRoleConnectionResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "OAuth2": [
              "role_connections.write"
            ]
          }
        ]
      },
      "put": {
        "operationId": "update_application_user_role_connection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platform_name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 50
                  },
                  "platform_username": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 100
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 100
                    },
                    "maxProperties": 5
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_application_user_role_connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationUserRoleConnectionResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "OAuth2": [
              "role_connections.write"
            ]
          }
        ]
      }
    },
    "/users/@me/guilds/{guild_id}/member": {
      "parameters": [
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_my_guild_member",
        "responses": {
          "200": {
            "description": "200 response for get_my_guild_member",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGuildMemberResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "OAuth2": [
              "guilds.members.read"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/role-connections/metadata": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_application_role_connections_metadata",
        "responses": {
          "200": {
            "description": "200 response for get_application_role_connections_metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/ApplicationRoleConnectionsMetadataItemResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "put": {
        "operationId": "update_application_role_connections_metadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/ApplicationRoleConnectionsMetadataItemRequest"
                },
                "maxItems": 5
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_application_role_connections_metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/ApplicationRoleConnectionsMetadataItemResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/applications/{application_id}/entitlements/{entitlement_id}/consume": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "entitlement_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "post": {
        "operationId": "consume_entitlement",
        "responses": {
          "204": {
            "description": "204 response for consume_entitlement"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.entitlements"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/guilds/{guild_id}/commands/{command_id}": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "command_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_guild_application_command",
        "responses": {
          "200": {
            "description": "200 response for get_guild_application_command",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "delete_guild_application_command",
        "responses": {
          "204": {
            "description": "204 response for delete_guild_application_command"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "update_guild_application_command",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCommandPatchRequestPartial"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_guild_application_command",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/guilds/{guild_id}/commands": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_guild_application_commands",
        "parameters": [
          {
            "name": "with_localizations",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_guild_application_commands",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "put": {
        "operationId": "bulk_set_guild_application_commands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/ApplicationCommandUpdateRequest"
                },
                "maxItems": 110
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for bulk_set_guild_application_commands",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "post": {
        "operationId": "create_guild_application_command",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCommandCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for create_guild_application_command",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "201": {
            "description": "201 response for create_guild_application_command",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      }
    },
    "/channels/{channel_id}/thread-members/@me": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "put": {
        "operationId": "join_thread",
        "responses": {
          "204": {
            "description": "204 response for join_thread"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "operationId": "leave_thread",
        "responses": {
          "204": {
            "description": "204 response for leave_thread"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/bulk-delete": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "post": {
        "operationId": "bulk_delete_messages",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SnowflakeType"
                    },
                    "minItems": 2,
                    "maxItems": 100,
                    "uniqueItems": true
                  }
                },
                "required": [
                  "messages"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "204 response for bulk_delete_messages"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}/reactions/{emoji_name}/{user_id}": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "message_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "emoji_name",
          "in": "path",
          "schema": {
            "type": "string",
            "maxLength": 152133
          },
          "required": true
        },
        {
          "name": "user_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "delete": {
        "operationId": "delete_user_message_reaction",
        "responses": {
          "204": {
            "description": "204 response for delete_user_message_reaction"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}/reactions/{emoji_name}": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "message_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "emoji_name",
          "in": "path",
          "schema": {
            "type": "string",
            "maxLength": 152133
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_message_reactions_by_emoji",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_message_reactions_by_emoji",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_all_message_reactions_by_emoji",
        "responses": {
          "204": {
            "description": "204 response for delete_all_message_reactions_by_emoji"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}/reactions": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "message_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "delete": {
        "operationId": "delete_all_message_reactions",
        "responses": {
          "204": {
            "description": "204 response for delete_all_message_reactions"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}/crosspost": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "message_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "post": {
        "operationId": "crosspost_message",
        "responses": {
          "200": {
            "description": "200 response for crosspost_message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}/threads": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "message_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "post": {
        "operationId": "create_thread_from_message",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTextThreadWithMessageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "201 response for create_thread_from_message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}/{webhook_token}/messages/@original": {
      "parameters": [
        {
          "name": "webhook_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "webhook_token",
          "in": "path",
          "schema": {
            "type": "string",
            "maxLength": 152133
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_original_webhook_message",
        "parameters": [
          {
            "name": "thread_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for get_original_webhook_message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {},
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_original_webhook_message",
        "parameters": [
          {
            "name": "thread_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204 response for delete_original_webhook_message"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {},
          {
            "BotToken": []
          }
        ]
      },
      "patch": {
        "operationId": "update_original_webhook_message",
        "parameters": [
          {
            "name": "thread_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncomingWebhookUpdateRequestPartial"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/IncomingWebhookUpdateRequestPartial"
              }
            },
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/IncomingWebhookUpdateRequestPartial"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "files[0]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[1]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[2]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[3]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[4]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[5]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[6]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[7]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[8]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[9]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_original_webhook_message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {},
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/scheduled-events/{guild_scheduled_event_id}/users": {
      "parameters": [
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "guild_scheduled_event_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_guild_scheduled_event_users",
        "parameters": [
          {
            "name": "with_member",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_guild_scheduled_event_users",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/ScheduledEventUserResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/auto-moderation/rules/{rule_id}": {
      "parameters": [
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "rule_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_auto_moderation_rule",
        "responses": {
          "200": {
            "description": "200 response for get_auto_moderation_rule",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/DefaultKeywordRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/KeywordRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MLSpamRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MentionSpamRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/SpamLinkRuleResponse"
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_auto_moderation_rule",
        "responses": {
          "204": {
            "description": "204 response for delete_auto_moderation_rule"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "patch": {
        "operationId": "update_auto_moderation_rule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/DefaultKeywordListUpsertRequestPartial"
                  },
                  {
                    "$ref": "#/components/schemas/KeywordUpsertRequestPartial"
                  },
                  {
                    "$ref": "#/components/schemas/MLSpamUpsertRequestPartial"
                  },
                  {
                    "$ref": "#/components/schemas/MentionSpamUpsertRequestPartial"
                  }
                ],
                "x-discord-union": "oneOf"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_auto_moderation_rule",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/DefaultKeywordRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/KeywordRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MLSpamRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MentionSpamRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/SpamLinkRuleResponse"
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/auto-moderation/rules": {
      "parameters": [
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_auto_moderation_rules",
        "responses": {
          "200": {
            "description": "200 response for list_auto_moderation_rules",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/DefaultKeywordRuleResponse"
                      },
                      {
                        "$ref": "#/components/schemas/KeywordRuleResponse"
                      },
                      {
                        "$ref": "#/components/schemas/MLSpamRuleResponse"
                      },
                      {
                        "$ref": "#/components/schemas/MentionSpamRuleResponse"
                      },
                      {
                        "$ref": "#/components/schemas/SpamLinkRuleResponse"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "post": {
        "operationId": "create_auto_moderation_rule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/DefaultKeywordListUpsertRequest"
                  },
                  {
                    "$ref": "#/components/schemas/KeywordUpsertRequest"
                  },
                  {
                    "$ref": "#/components/schemas/MLSpamUpsertRequest"
                  },
                  {
                    "$ref": "#/components/schemas/MentionSpamUpsertRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for create_auto_moderation_rule",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/DefaultKeywordRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/KeywordRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MLSpamRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MentionSpamRuleResponse"
                    },
                    {
                      "$ref": "#/components/schemas/SpamLinkRuleResponse"
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/voice-states/@me": {
      "parameters": [
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "patch": {
        "operationId": "update_self_voice_state",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request_to_speak_timestamp": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "suppress": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "channel_id": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "$ref": "#/components/schemas/SnowflakeType"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "204 response for update_self_voice_state"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/members/search": {
      "parameters": [
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "search_guild_members",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "required": true
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for search_guild_members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GuildMemberResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/threads/active": {
      "parameters": [
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_active_guild_threads",
        "responses": {
          "200": {
            "description": "200 response for get_active_guild_threads",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadsResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/members/@me": {
      "parameters": [
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "patch": {
        "operationId": "update_my_guild_member",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nick": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 32
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_my_guild_member",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGuildMemberResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/guilds/{guild_id}/members/{user_id}/roles/{role_id}": {
      "parameters": [
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "user_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "role_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "put": {
        "operationId": "add_guild_member_role",
        "responses": {
          "204": {
            "description": "204 response for add_guild_member_role"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_guild_member_role",
        "responses": {
          "204": {
            "description": "204 response for delete_guild_member_role"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/users/@me/guilds/{guild_id}": {
      "parameters": [
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "delete": {
        "operationId": "leave_guild",
        "responses": {
          "204": {
            "description": "204 response for leave_guild"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/applications/{application_id}/entitlements/{entitlement_id}": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "entitlement_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_entitlement",
        "responses": {
          "200": {
            "description": "200 response for get_entitlement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.entitlements"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "delete_entitlement",
        "responses": {
          "204": {
            "description": "204 response for delete_entitlement"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.entitlements"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/entitlements": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_entitlements",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "sku_ids",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "$ref": "#/components/schemas/SnowflakeType"
                      }
                    ]
                  },
                  "maxItems": 100,
                  "uniqueItems": true
                }
              ]
            },
            "required": true
          },
          {
            "name": "guild_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "exclude_ended",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "only_active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for get_entitlements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "$ref": "#/components/schemas/EntitlementResponse"
                      }
                    ]
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.entitlements"
            ]
          }
        ]
      },
      "post": {
        "operationId": "create_entitlement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEntitlementRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for create_entitlement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/applications/{application_id}/commands/{command_id}": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "command_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_application_command",
        "responses": {
          "200": {
            "description": "200 response for get_application_command",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "delete_application_command",
        "responses": {
          "204": {
            "description": "204 response for delete_application_command"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "update_application_command",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCommandPatchRequestPartial"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_application_command",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/commands": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_application_commands",
        "parameters": [
          {
            "name": "with_localizations",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_application_commands",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "put": {
        "operationId": "bulk_set_application_commands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/ApplicationCommandUpdateRequest"
                },
                "maxItems": 110
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for bulk_set_application_commands",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "post": {
        "operationId": "create_application_command",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCommandCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for create_application_command",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "201": {
            "description": "201 response for create_application_command",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      }
    },
    "/interactions/{interaction_id}/{interaction_token}/callback": {
      "parameters": [
        {
          "name": "interaction_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "interaction_token",
          "in": "path",
          "schema": {
            "type": "string",
            "maxLength": 152133
          },
          "required": true
        }
      ],
      "post": {
        "operationId": "create_interaction_response",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ApplicationCommandAutocompleteCallbackRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateMessageInteractionCallbackRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ModalInteractionCallbackRequest"
                  },
                  {
                    "$ref": "#/components/schemas/PongInteractionCallbackRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateMessageInteractionCallbackRequest"
                  }
                ],
                "x-discord-union": "oneOf"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ApplicationCommandAutocompleteCallbackRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateMessageInteractionCallbackRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ModalInteractionCallbackRequest"
                  },
                  {
                    "$ref": "#/components/schemas/PongInteractionCallbackRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateMessageInteractionCallbackRequest"
                  }
                ],
                "x-discord-union": "oneOf"
              }
            },
            "multipart/form-data": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ApplicationCommandAutocompleteCallbackRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateMessageInteractionCallbackRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ModalInteractionCallbackRequest"
                  },
                  {
                    "$ref": "#/components/schemas/PongInteractionCallbackRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateMessageInteractionCallbackRequest"
                  }
                ],
                "x-discord-union": "oneOf"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "204 response for create_interaction_response"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {},
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/thread-members/{user_id}": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "user_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_thread_member",
        "parameters": [
          {
            "name": "with_member",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for get_thread_member",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadMemberResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "put": {
        "operationId": "add_thread_member",
        "responses": {
          "204": {
            "description": "204 response for add_thread_member"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_thread_member",
        "responses": {
          "204": {
            "description": "204 response for delete_thread_member"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/thread-members": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_thread_members",
        "parameters": [
          {
            "name": "with_member",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_thread_members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ThreadMemberResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/permissions/{overwrite_id}": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "overwrite_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "put": {
        "operationId": "set_channel_permission_overwrite",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "$ref": "#/components/schemas/ChannelPermissionOverwrites"
                      }
                    ]
                  },
                  "allow": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "deny": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "204 response for set_channel_permission_overwrite"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_channel_permission_overwrite",
        "responses": {
          "204": {
            "description": "204 response for delete_channel_permission_overwrite"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/recipients/{user_id}": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "user_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "put": {
        "operationId": "add_group_dm_user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 152133
                  },
                  "nick": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 152133
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "201 response for add_group_dm_user",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PrivateChannelResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PrivateGroupChannelResponse"
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "204 response for add_group_dm_user"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_group_dm_user",
        "responses": {
          "204": {
            "description": "204 response for delete_group_dm_user"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/followers": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "post": {
        "operationId": "follow_channel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhook_channel_id": {
                    "$ref": "#/components/schemas/SnowflakeType"
                  }
                },
                "required": [
                  "webhook_channel_id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for follow_channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelFollowerResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "message_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_message",
        "responses": {
          "200": {
            "description": "200 response for get_message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_message",
        "responses": {
          "204": {
            "description": "204 response for delete_message"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "patch": {
        "operationId": "update_message",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageEditRequestPartial"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/MessageEditRequestPartial"
              }
            },
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/MessageEditRequestPartial"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "files[0]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[1]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[2]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[3]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[4]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[5]": {
[...]
