# markdown support
recommonmark
myst_parser
# markdown table support
sphinx-markdown-tables

# theme default rtd

# crate-docs-theme
sphinx-rtd-theme

# pin tokenizers version to avoid env_logger version req
tokenizers==0.19.1
