a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{ 
    position: relative;
    *{
        font-family: 'Inter', sans-serif;
    }
    #x{
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        color: white;
        position: absolute;
        top: 0;
        z-index: 101 ;
        font-size: 25px;
        display: none;
        cursor: pointer;
    }
    #lmenu{
        transition: 0.5s;
        height: 100%;
        background-color: #FFFFFF;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        overflow-y: scroll;
        overflow-x: hidden;
       
    }
    main{
       
        background-color: #E3E6E6;
        section{
            header{
                #header1{
                  
                    background-color: black;
                    >ul{
                         list-style-type: none;
                        >li{
                            img{
                                height: 65%;
                            }
                         
                            &:nth-of-type(5){
                                div{
                                  
                                    &:nth-of-type(2){
                                        i{
                                            font-size: 10px;
                                            color: gray;
                                        }
                                    }
                                }
                            }

                     
                            &:nth-of-type(7){
                                >div{
                                    >div{
                                        &:nth-of-type(1){
                                            position: relative;
                                    
                                            span{
                                                position: absolute;
                                                left: 45%;
                                                top: -20%;
                                                display: flex;
                                                font-size: 18px;
                                                // background-color: black;
                                            }
                                    
                                        }
                                        &:nth-of-type(2){
                                            font-size: 18px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                #head2{
                    
                        background-color: #232F3E;
                        div{
                            ul{
                                list-style: none;
                                li{
                                  color: white;
                                   
                                    a{
                                        color: white;
                                        text-decoration: none;
                                    }
                                    &:hover{
                                        border: 1px solid white;
                                        border-radius: 2px;
                                        cursor: pointer;
                                    }
                                }
                        
                            }
                            span{
                                a{
                                    color: white;
                                    text-decoration: none;
                                    &:hover{
                                        cursor: pointer;
                                        border: 1px solid white;
                                        border-radius: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
           
            #smain{
                position: relative;
                z-index: 1;
            }
            .pic{
                background-color: white;
                >h5{
                    height: 15%; display: flex;
                    cursor: pointer;
                }
                >div{
                    height: 15%;
                   
                    &:nth-of-type(1){
                        height: 70%;
                        cursor: pointer;
                        >div{
                            height: 50%;
                        }
                    }
                    
                }
                span{
                    &:nth-of-type(1){
                        cursor: pointer;
                        button{
                            height: 30%;
                        }
                    }
                }
            }
            
        }
        #afterMain{
            background-color: white;
            position: relative;
            z-index: 2;
            span{

                &:nth-of-type(2){

                    a{
                        color : rgb(42, 184, 194);
                    }
                }
            }
            button{
                background-color: #FFC635;
            }
        }
        #btop{
            color: white;
            background-color: #37475A;
            cursor: pointer;
            &:hover{
                background-color: #404f61;
            }
            a{
                color: rgb(224, 224, 224); 
            }
        }
        #foot{
            position: relative;
            z-index: 5;
            footer{
                >div{
                    &:nth-of-type(1){
                        background-color: #232F3E;
                        color: white;
                        div{
                            >ul{
                                >li{
                                    a{
                                      color: rgb(224, 224, 224);                         
                                    }
                                }
                            }
                        }
                        
                    }
                    &:nth-of-type(2){
                        background-color: #000000;
                        color: rgb(224, 224, 224);                         
                         }
                }
            }
        }
      
        #topLmenu{
                     
            background-color: #232F3E;
            span{
                
                color: white;
                i{
                   
                    color: white;
                }
            }
            cursor: pointer;
        }
        .d1{
            border-bottom: 1px solid black;
            transition: 0.5s;
            ul{
                li{
                    cursor: pointer;
                    &:nth-of-type(1){
                        &:hover{
                            background-color: white;
                        }
                        cursor:auto;
                    }
                 
              
                    &:hover{
                        background-color: #EAEDED;
                    }
                }
            }
        }
        .d2{
            min-height: 0 !important;
            opacity: 0;
            height: 0 !important;
            // transition: 5s;
        }
        #dnMenu{
            transition: 0.5s;
            overflow: hidden;
        }
        #dnMenu2{
            transition: 0.5s;
            min-height: 0 !important;
            overflow: hidden;
        }
      .lm{
        // width: 0 !important;
        left: -500px !important;
      }
      .btm1{
        display: flex;
        align-items: end !important;
        height: 50px;
      }

      #fullsc{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.774);
        display: none;
        overflow: auto;
      }
       
    }
        
 