@media screen and (max-width:576px){
    .font1{
        font-size: 3px;
    }
    .font2{
        font-size: 3px;
    }
    .font3{
        font-size: 5px !important;
    }
    .font4{
        font-size: 5px;
        transform: translate(-3px,4px);
    }
    .font5{
        font-size: 4px;
    }
    #c0{
        font-size: 6px !important;
        transform: translate(0px,2px);
    }
    #cimg{
        width: 15px;
       }
    #_cart{
        font-size: 6px !important;
        transform: translate(-1px, -1px);
    }
    #header1{
        height: 24px;
    }
    #_inp{
        select{
            height: 18px;
        }
        input{
            height: 18px;
        }
        button{
            height: 18px;
    
        }
    }

    #foot2{
        >div{
            div{
                a{
                    color: white;
                    font-size: 8px;
                }
                span{
                    color: white;
                    font-size: 8px;
                }
            }
        }
    }
    #x{
        font-size: 15px !important;
        width: 20px !important;
        height: 20px !important;
    }
    #topLmenu{
        height: 17px;
        span{
            font-size: 8px;
            font-weight: 400;
            i{
                font-size: 8px;
                margin-right: 2px;
            }
        }
    }
    .d1{
        min-height: 100px !important;
        ul{
            li{
                &:nth-of-type(1){
                    font-size: 9px;
                    font-weight: 500;
                }
             
                span{
                    font-size: 8px;
                }
    
                i{
                    font-size: 9px;
                }
            }
        }
    }

    #dnMenu{
        height: 300px;
    }
    #dnMenu2{
        height: 26px ;
    }

    
    #lmenu{
        width: 150px;
    }
    #x{
        left: 155px;
    }

    #head2{          
        div{
              height: 20px !important;
            ul{
                font-size: 6px;
                li{

                    &:nth-of-type(1){
                        font-weight: 400;
                        font-size: 9px;

                      a{
                        >i{
                            font-size: 10px;
                            margin-right: 4px;
                        }
                      
       }}}}
       span{
        a{
            font-size: 6px;
        }}}}


        #smain{
            transform: translateY(-75px);
        }


        .pic{
            height: 130px;
            margin: 2px !important;
            flex-shrink: 1;
            >h5{
                height: 15%; display: flex;
                font-size: 8px;
                margin-left: 5px !important;
            }
            >div{
                height: 15%;
               font-size: 8px;
                &:nth-of-type(1){
                    height: 70%;
                    >div{
                        height: 50%;
                        border: 1px solid rgb(255, 255, 255);
                        img{
                            // width: 100%;
                            height: 30px;
                        }
                    }
                }
                &:nth-of-type(2){
                    margin-left: 5px !important;
                }
                
            }
            span{
                &:nth-of-type(1){
                    h5{
                        font-size: 7px
                    }
                    button{
                        border-radius: 3px ;
                        height: 30%;
                        font-size: 7px;
                        width: 75px;
                        height: 15px !important;
                    }
                }
                &:nth-of-type(2){
                    img{
                        height: 90%;
                        width: 90%;
                    }
                }
            }
        }

        #afterMain{
            transform: translateY(-75px) !important;
            height: 70px;
            span{
                &:nth-of-type(1){
                    font-size: 8px !important;
                    font-weight: 400 !important;
                }
                &:nth-of-type(2){
                    font-size: 8px !important;
                    font-weight: 400 !important;
                    a{
                        margin-left: 1px !important;
                    }
                }
            }
            button{
                box-shadow: inset 0px 6px #ffdc84cb !important;
                font-size: 8px !important;
                font-weight: 400 !important;
                padding: 1px !important;
            }
        }

        #btop{
            transform: translateY(-84px) !important;
            color: white;
            background-color: #37475A;
            height: 20px;
            cursor: pointer;
            font-size: 10px;
            &:hover{
                background-color: #404f61;
            }
        }
        #foot{
            margin-top: -95px !important;

            footer{
                >div{
                    &:nth-of-type(1){
                        div{
                            >ul{
                                >li{
                                    font-size: 9px;
                                    font-weight: 400;
                                    a{
                                      font-size: 7px;                           
                                    }
                                }
                            }

                        }
                        
                    }
                  
                }
            }
        }

        #foot2{
            div{
                div{
                a{
                    font-size: 5px;
                }
              }
            }
            
        }



}







@media screen and (min-width:577px){
    .font1{
        font-size: 3px;
    }
    .font2{
        font-size: 3px;
    }
    .font3{
        font-size: 5px !important;
    }
    .font4{
        font-size: 5px;
        transform: translate(-3px,4px);
    }
    .font5{
        font-size: 4px;
    }
    #c0{
        font-size: 6px !important;
        transform: translate(0px,2px);
    }
    #cimg{
        width: 15px;
       }
    #_cart{
        font-size: 6px !important;
        transform: translate(-1px, -1px);
    }
    #header1{
        height: 24px;
    }
    #_inp{
        select{
            height: 18px;
        }
        input{
            height: 18px;
        }
        button{
            height: 18px;
    
        }
    }



    #foot2{
        >div{
            div{
                a{
                    color: white;
                    font-size: 8px;
                }
                span{
                    color: white;
                    font-size: 8px;
                }
            }
        }
    }
    #topLmenu{
        height: 22px;
        span{
            font-size: 12px;
            font-weight: 400;
            i{
                font-size: 14px;
            }
        }
    }
    .d1{
        min-height: 120px !important;
        ul{
            li{
                &:nth-of-type(1){
                    font-size: 12px;
                    font-weight: 400;

                }
             
                span{
                    font-size: 8px;
                }
    
                i{
                    font-size: 10px;
                }
              
            }
        }
    }

    #dnMenu{
        height: 350px;
    }
    #dnMenu2{
        height: 30px ;
    }


    #lmenu{
        width: 250px;
    }
    #x{
        left: 255px;
    }


    #head2{          
        div{
              height: 25px !important;
            ul{
                font-size: 7px;
                li{

                    &:nth-of-type(1){
                        font-weight: 400;
                        font-size: 10px;

                      a{
                        >i{
                            font-size: 11px;
                            margin-right: 4px;
                        }
                      
       }}}}
       span{
        a{
            font-size: 7px;
        }}}}

        #smain{
            transform: translateY(-140px);
        }

        .pic{
            height: 200px;
            margin: 3px !important;
            flex-shrink: 1;
            >h5{
                height: 15%; display: flex;
                font-size: 10px;
                margin-left: 5px !important;
            }
            >div{
                height: 15%;
               font-size: 10px;
                &:nth-of-type(1){
                    height: 70%;
                    >div{
                        height: 50%;
                        border: 2px solid rgb(255, 255, 255);
                        img{
                            // width: 100%;
                            height: 50px;
                        }
                    }
                }
                &:nth-of-type(2){
                    margin-left: 5px !important;
                }
                
            }
            span{
                &:nth-of-type(1){
                    h5{
                        font-size: 10px
                    }
                    button{
                        border-radius: 4px ;
                        height: 30%;
                        font-size: 8px;
                    }
                }
            }
        }

        #afterMain{
            transform: translateY(-135px) !important;
            height: 110px;
            span{
                &:nth-of-type(1){
                    font-size: 8px !important;
                    font-weight: 500 !important;
                }
                &:nth-of-type(2){
                    font-size: 8px !important;
                    font-weight: 500 !important;
                    a{
                        margin-left: 1px !important;
                    }
                }
            }
            button{
                box-shadow: inset 0px 7px #ffdc84cb !important;
                font-size: 10px !important;
                font-weight: 400 !important;
                padding: 1px !important;
            }
        }

        #btop{
            transform: translateY(-144px) !important;
            color: white;
            background-color: #37475A;
            height: 30px;
            cursor: pointer;
            font-size: 12px;
            &:hover{
                background-color: #404f61;
            }
        }
        #foot{
            margin-top: -150px !important;

            footer{
                >div{
                    &:nth-of-type(1){
                        div{
                            >ul{
                                >li{
                                    font-size: 12px;
                                    font-weight: 400;
                                    a{
                                      font-size: 8px;                           
                                    }
                                }
                            }

                        }
                        
                    }
                  
                }
            }
        }

        #foot2{
            div{
                div{
                a{
                    font-size: 6px;
                }
              }
            }
            
        }







}



@media screen and (min-width:768px){
    .font1{
        font-size: 7px;
    }
    .font2{
        font-size: 7px;
    }
    .font3{
        font-size: 10px !important;
    }
    .font4{
        font-size: 10px;
        transform: translate(-3px,4px);
    }
    .font5{
        font-size: 12px;
    }
    #c0{
        font-size: 10px !important;
        transform: translate(1px,3px);
    }
    #cimg{
        width: 25px;
       }
    #_cart{
        font-size: 10px !important;
        transform: translate(-2px, -3px);
    }
    #header1{
        height: 45px;
    }
    #_inp{
        select{
            height: 25px;
        }
        input{
            height: 25px;
        }
        button{
            height: 25px;
          
    
        }
    }

    #foot2{
        >div{
            div{
                a{
                    color: white;
                    font-size: 9px;
                }
                span{
                    color: white;
                    font-size: 9px;
                }
            }
        }
    }
    #topLmenu{
        height: 32px;
        span{
            font-size: 18px;
            font-weight: 400;
            i{
                font-size: 17px;
            }
        }
    }


    .d1{
        min-height: 140px !important;
        ul{
            li{
                &:nth-of-type(1){
                    font-size: 14px;
                    font-weight: 500;
                }
             
                span{
                    font-size: 10px;
                }
    
                i{
                    font-size: 12px;
                }
              
            }
        }
    }
    #dnMenu{
        height: 400px;
    }
    #dnMenu2{
        height: 40px ;
    }
   
    #lmenu{
        width: 300px;
    }
    #x{
        left: 305px;
    }

    #head2{          
        div{
              height: 26px !important;
            ul{
                font-size: 9px;
                li{

                    &:nth-of-type(1){
                        font-weight: 500;
                        font-size: 13px;

                      a{
                        >i{
                            font-size: 14px;
                            margin-right: 6px;
                        }
                      
       }}}}
       span{
        a{
            font-size: 10px;
        }}}}
      
        #smain{
            transform: translateY(-180px);
        }


        .pic{
            height: 250px;
            margin: 4px !important;
            flex-shrink: 1;
            >h5{
                height: 15%; display: flex;
                font-size: 14px;
                margin-left: 5px !important;
            }
            >div{
                height: 15%;
               font-size: 14px;
                &:nth-of-type(1){
                    height: 70%;
                    >div{
                        height: 50%;
                        border: 2px solid rgb(255, 255, 255);
                        img{
                            // width: 100%;
                            height: 60px;
                        }
                    }
                 
                }
                  &:nth-of-type(2){
                    margin-left: 5px !important;
                   }
            }
            span{
                &:nth-of-type(1){
                    h5{
                        font-size: 12px
                    }
                    button{
                        border-radius: 4px ;
                        height: 30%;
                        font-size: 11px;
                    }
                }
            }
        }

        #afterMain{
            transform: translateY(-177px) !important;
            height: 150px;
            span{
                &:nth-of-type(1){
                    font-size: 10px !important;
                    font-weight: 500 !important;
                }
                &:nth-of-type(2){
                    font-size: 9px !important;
                    font-weight: 500 !important;
                    a{
                        margin-left: 1px !important;
                    }
                }
            }
            button{
                box-shadow: inset 0px 8px #ffdc84cb !important;
                font-size: 12px !important;
                font-weight: 400 !important;
                padding: 2px !important;
            }
        }

        #btop{
            transform: translateY(-177px) !important;
            color: white;
            background-color: #37475A;
            height: 40px;
            cursor: pointer;
            &:hover{
                background-color: #404f61;
            }
        }
        #foot{
            margin-top: -178px !important;

            footer{
                >div{
                    &:nth-of-type(1){
                        div{
                            >ul{
                                >li{
                                    font-size: 14px;
                                    font-weight: 500;
                                    a{
                                      font-size: 10px;                           
                                    }
                                }
                            }
                        } 
                    }
                  
                }
            }
        }

        #foot2{
          
            div{
                div{
                a{
                    font-size: 8px;
                }
              }
            }
            
        }
        
}
        











@media screen and (min-width:992px){
    .font1{
        font-size: 9px;
    }
    .font2{
        font-size: 10px;
    }
    .font3{
        font-size: 12px !important;
    }
    .font4{
        font-size: 12px;
        transform: translate(-4px,7px);
    }
    #c0{
        font-size: 12px !important;
        transform: translate(1px,8px);
    }
    #cimg{
        width: 32px;
       }
    #_cart{
        font-size: 10px !important;
        transform: translate(-2px, -3px);
    }
    #header1{
        height: 60px;
    }

    #foot2{
        >div{
            div{
                a{
                    color: white;
                    font-size: 10px;
                }
                span{
                    color: white;
                    font-size: 10px;
                }
            }
        }
    }
    
    #topLmenu{
        height: 35px;
        span{
            font-size: 19px;
            font-weight: 500;
            i{
                font-size: 20px;
            }
        }
    }

    .d1{
        min-height: 180px !important;
        border-bottom: 1px solid black;
        transition: 0.5s;
        ul{
            li{
                &:nth-of-type(1){
                    font-size: 16px;
                    font-weight: 500; 
                }      
                span{
                    font-size: 12px;
                }
    
                i{
                    font-size: 15px;
                }
             
            }
        }
    }

    #dnMenu{
        height: 400px;
    }
    #dnMenu2{
        height: 50px ;
    }

    #lmenu{
        width: 340px;
    }
    #x{
        left: 345px;
    }



    #head2{          
        div{
              height: 35px !important;
            ul{
                font-size: 12px;
                li{

                    &:nth-of-type(1){
                        font-weight: 500;
                        font-size: 15px;

                      a{
                        >i{
                            font-size: 16px;
                            margin-right: 8px;
                        }
                      
       }}}}
       span{
        a{
            font-size: 14px;
        }}}}


        #smain{
            transform: translateY(-250px);
        }


        .pic{
            height: 330px;
            margin: 4px !important;
            flex-shrink: 1;
            >h5{
                height: 15%; display: flex;
                font-size: 18px;
                margin-left: 10px !important;
            }
            >div{
                height: 15%;
               font-size: 18px;
                &:nth-of-type(1){
                    height: 70%;
                    >div{
                        height: 50%;
                        border: 2px solid rgb(255, 255, 255);
                        img{
                            height: 90px;
                        }
                    }
                }
                &:nth-of-type(2){
                    margin-left: 10px !important;
                }
                
            }
            span{
                &:nth-of-type(1){
                    h5{
                        font-size: 16px
                    }
                    button{
                        border-radius: 5px ;
                        height: 30%;
                        font-size: 12px;
                    }
                }
            }
        }

        #afterMain{
            transform: translateY(-245px) !important;
            height: 160px;
            span{
                &:nth-of-type(1){
                    font-size: 14px !important;
                    font-weight: 600 !important;
                }
                &:nth-of-type(2){
                    font-size: 12px !important;
                    font-weight: 600 !important;
                    a{
                        margin-left: 2px !important;
                    }
                }
            }
            button{
                box-shadow: inset 0px 10px #ffdc84cb !important;
                font-size: 14px !important;
                font-weight: 500 !important;
                padding: 3px !important;
            }
        }

        #btop{
            transform: translateY(-245px) !important;
            font-size: 16px;
            color: white;
            height: 42px;
            cursor: pointer;
        }
        #foot{
            margin-top: -246px !important;

            footer{
                >div{
                    &:nth-of-type(1){
                        div{
                            >ul{
                                >li{
                                    font-size: 16px;
                                    font-weight: 600;
                                    a{
                                      font-size: 12px;                           
                                    }
                                }
                            }

                        }
                        
                    }
                  
                }
            }
        }

        #foot2{
            div{
                div{
                a{
                    font-size: 10px;
                }
              }
            }
            
        }










  
    }



@media screen and (min-width:1200px){
    .font1{
        font-size: 10px;
    }
    .font2{
        font-size: 12px;
    }
    .font3{
        font-size: 12px !important;
    }
    .font4{
        font-size: 12px;
        transform: translate(-4px,7px);
    }
    #c0{
        font-size: 12px !important;
        transform: translate(1px,8px);
    }
    #cimg{
        width: 32px;
       }
    #_cart{
        font-size: 8px;
        transform: translate(-2px, -3px);
    }
    #header1{
        height: 60px;
    }

#foot2{
    >div{
        div{
            a{
                color: white;
                font-size: 11px;
            }
            span{
                color: white;
                font-size: 12px;
            }
        }
    }
}


#topLmenu{
    height: 42px;
    span{
        font-size: 19px;
        font-weight: 600;
        i{
            font-size: 24px;
            transform: translateX(-10px);
        }
    }
}

.d1{
    min-height: 190px !important;
    border-bottom: 1px solid black;
    transition: 0.5s;
    ul{
        li{
            &:nth-of-type(1){
                font-size: 18px;
                font-weight: 600;
            }
         
            span{
                font-size: 13px;
            }

            i{
                font-size: 17px;
            }
          
        }
    }
}
 
#dnMenu{
    height: 480px;
}
#dnMenu2{
    height: 70px ;
}
#lmenu{
    width: 370px;
}
#x{
    left: 375px;
}



#head2{          
    div{
          height: 42px !important;
        ul{
            font-size: 16px;
            li{

                &:nth-of-type(1){
                    font-weight: 600;
                    font-size: 20px;

                  a{
                    >i{
                        font-size: 22px;
                        margin-right: 9px;
                    }
                  
   }}}}
   span{
    a{
        font-size: 17px;
    }}}}

    #smain{
        transform: translateY(-270px);
    }

    .pic{
        height: 390px;
        margin: 5px !important;
        flex-shrink: 1;
        >h5{
            height: 15%; display: flex;
            margin-left: 10px !important;
        }
        >div{
            height: 15%;
            
            &:nth-of-type(1){
                height: 70%;
                >div{
                    height: 50%;
                    border: 2px solid rgb(255, 255, 255);
                    img{
                        // width: 100%;
                        height: 90px;
                    }
                }
            }
            &:nth-of-type(2){
                margin-left: 10px !important;
            }
            
        }
        span{
            &:nth-of-type(1){
                button{
                    border-radius: 5px ;
                    height: 30%;
                    font-size: 12px;
                }
            }
        }
    }
    #afterMain{
        transform: translateY(-255px) !important;
        height: 180px;
        span{
            &:nth-of-type(1){
                font-size: 16px !important;
                font-weight: 600 !important;
            }
            &:nth-of-type(2){
                font-size: 14px !important;
                font-weight: 600 !important;
                a{
                    margin-left: 3px !important;
                }
            }
        }
        button{
            box-shadow: inset 0px 12px #ffdc84cb !important;
            font-size: 16px !important;
            font-weight: 500 !important;
            padding: 3px !important;
        }
    }

    #btop{
        transform: translateY(-255px) !important;
        font-size: 16px;
        color: white;
        height: 44px;
        cursor: pointer;
   
    }
    #foot{
        margin-top: -256px !important;

        footer{
            >div{
                &:nth-of-type(1){
                    div{
                        >ul{
                            >li{
                                font-size: 19px;
                                font-weight: 700;
                                a{
                                  font-size: 14px;                           
                                }
                            }
                        }

                    }
                    
                }
              
            }
        }
    }

    #foot2{
        div{
            div{
            a{
                font-size: 14px;
            }
          }
        }
        
    }



}







@media screen and (min-width:1400px){
    .font1{
        font-size: 11px;
    }
    .font2{
        font-size: 14px;
    }
    .font3{
        font-size: 14px !important;
    }
    .font4{
        font-size: 14px;
        transform: translate(-4px,7px);
    }
    #c0{
        font-size: 14px !important;
        transform: translate(1px,8px);
    }
    #cimg{
        width: 35px;
       }
    #_cart{
        font-size: 9px;
        transform: translate(-2px, -3px);
    }
    #header1{
        height: 65px;
    }

#foot2{
    >div{
        div{
            a{
                color: white;
                font-size: 12px;
            }
            span{
                color: white;
                font-size: 12px;
            }
        }
    }
}

#topLmenu{
    height: 45px;
    span{
        font-size: 25px;
        font-weight: 600;
        i{
            font-size: 25px;
        }
    }
}

.d1{
    min-height: 200px !important;
    ul{
        li{
            &:nth-of-type(1){
                font-size: 19px;
                font-weight: 600;
             
            }
         
            span{
                font-size: 14px;
            }

            i{
                font-size: 18px;
            }
           
        }
    }
}

#dnMenu{
    height: 460px;
}
#dnMenu2{
    height: 65px ;
}

.pic{
    height: 390px;
    margin: 5px !important;
    flex-shrink: 1;
    >h5{
        height: 15%; display: flex;
      

    }
    >div{
        height: 15%;
       
        &:nth-of-type(1){
            height: 70%;
            >div{
                height: 50%;
                border: 2px solid rgb(255, 255, 255);
                img{
                    height: 90px;
                }
            }
        }
        
    }
    span{
        &:nth-of-type(1){
            button{
                border-radius: 5px ;
                height: 30%;
                font-size: 12px;
            }
        }
    }
}



}


